:root {
  --white: #ffffff;
  --footer: #0e0e0e;
  --popup: #171717;
  --main-yellow: #ffcc00;
  --hover-yellow: #ffd633;
  --black: #000000;
  --track: #2e2e2e;
}

@font-face {
  font-family: "Druk Wide";
  src: local("Druk Wide Bold"),
    url(" ../fonts/Druk_Wide_Bold.woff2") format("woff2"),
    url(" ../fonts/Druk_Wide_Bold.woff2") format("woff");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Druk Text Wide";
  src: local("Druk Text Wide Bold"),
    url(" ../fonts/Druk_Text_Wide_Bold.woff2") format("woff2"),
    url(" ../fonts/Druk_Text_Wide_Bold.woff2") format("woff");
  font-weight: bold;
  font-display: swap;
}

/* основные стили и шапка */
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--footer);
  background-image: url("../img/background_mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", "Arial", sans-serif;
  position: relative;
  z-index: 0;
}

.wrapper {
  height: auto;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  width: 280px;
}

.header {
  margin-bottom: 12px;
  padding-top: 21px;
}

.info {
  width: 100%;
  margin-bottom: 27px;
}

/* основной контент */
.main-title {
  color: var(--white);
  font-family: "Druk Text Wide", "Arial", sans-serif;
  font-size: 31.2px;
  line-height: 31.2px;
  text-align: center;
  margin: 0;
}

.main-title .big {
  color: var(--main-yellow);
  font-family: "Druk Wide", "Arial", sans-serif;
  font-size: 53px;
  line-height: 69.22px;
}

.main-title .small {
  font-size: 22.2px;
  line-height: 22.2px;
}

.info-text {
  color: var(--white);
  font-size: 10.5px;
  line-height: 12.3px;
  text-align: center;
  margin-bottom: 15px;
}

.info-text .big {
  font-size: 12.5px;
  line-height: 14.65px;
}

.info-button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  display: block;
  width: 157px;
  height: 38px;
  background-color: var(--main-yellow);
  color: var(--black);
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 17.58px;
}

.info-button:hover {
  background-color: var(--hover-yellow);
}

/* подвал */
.footer {
  height: 66px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--footer);
  position: relative;
  clear: both;
}

.footer .container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.download-links {
  order: 2;
  flex-basis: 140px;
}

.rules-button {
  order: 1;
  flex-basis: 100%;
  background: none;
  outline: none;
  border: none;
  text-decoration: underline;
  color: var(--white);
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 10px;
  line-height: 11.72px;
}

.partners {
  order: 3;
  flex-basis: 104px;
}

/* попап */

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 280px;
  height: 400px;
  box-sizing: border-box;
  padding-top: 43px;
  padding-bottom: 5px;
  background-color: var(--popup);
  overflow-y: auto;
  z-index: 2;
  scrollbar-width: thin;
  scrollbar-color: var(--white) var(--track);
  display: none;
}

.modal::-webkit-scrollbar {
  width: 5px;
}

.modal::-webkit-scrollbar-track {
  background-color: var(--track);
  border-radius: 20px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 20px;
  height: 60px;
}

.modal-close {
  position: absolute;
  right: 12px;
  top: 12px;
  background: none;
  border: none;
  outline: none;
  height: 12px;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 2px;
  background-color: var(--white);
  border-radius: 2px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-title {
  font-family: "Druk Text Wide", "Arial", sans-serif;
  font-size: 15px;
  line-height: 15px;
  color: var(--white);
  margin-bottom: 15px;
  margin-top: 0;
  text-align: center;
}

.modal-text {
  font-size: 12px;
  line-height: 15.6px;
  color: var(--white);
  padding: 0 43px 0 15px;
  margin-bottom: 25px;
}

.modal-list {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 25px;
}

.modal-list li {
  color: var(--main-yellow);
  margin-bottom: 15px;
}

.modal-list li span {
  color: var(--white);
  font-size: 12px;
  line-height: 15.6px;
}

.modal-list .modal-item-mobile {
  display: list-item;
}

.modal-list .modal-item-desktop {
  display: none;
}

.mask {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 1440px) {
  /* основные стили и шапка */
  body {
    background-image: url("../img/background_desktop.jpg");
  }

  .header {
    padding-top: 66px;
    margin-bottom: 70px;
  }

  .container {
    padding: 0 120px 0 120px;
    width: 1200px;
  }

  .site-logo img {
    width: 179px;
    height: 59px;
  }

  /* основной контент */
  .main {
    margin-bottom: 70px;
  }

  .main .container {
    display: flex;
    justify-content: space-between;
  }

  .main-title {
    font-size: 67px;
    line-height: 67px;
    text-align: left;
  }

  .main-title .big {
    font-size: 115px;
    line-height: 150px;
  }

  .main-title .small {
    font-size: 47.5px;
    line-height: 47.5px;
  }

  .info-text {
    font-size: 22.5px;
    line-height: 26.37px;
    text-align: left;
    margin-bottom: 45px;
  }

  .info-text .big {
    font-size: 27px;
    line-height: 31.64px;
  }

  .info-button {
    width: 327px;
    height: 86px;
    font-size: 35px;
    line-height: 41px;
    margin: 0;
  }

  .main-image img {
    width: 729px;
    height: 587px;
    margin-left: 40px;
    margin-top: -30px;
  }

  /* подвал */
  .footer {
    height: 95px;
  }

  .footer .container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .download-links {
    order: 1;
    flex-basis: 333px;
    display: flex;
    justify-content: space-between;
  }

  .download-links img {
    width: 150px;
    height: 44px;
  }

  .rules-button {
    order: 2;
    flex-basis: auto;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 23px;
    line-height: 27px;
  }

  .partners {
    order: 3;
    flex-basis: 246px;
    display: flex;
    justify-content: space-between;
  }

  .first-partner {
    width: 37px;
    height: 50px;
  }

  .second-partner {
    width: 49px;
    height: 50px;
  }

  .third-partner {
    width: 50px;
    height: 51px;
  }

  .fourth-partner {
    width: 38px;
    height: 51px;
  }

  /* попап */
  .modal {
    width: 600px;
    height: 600px;
    padding-top: 33px;
  }

  .modal-close {
    right: 30px;
    top: 38px;
    height: 19px;
  }

  .modal-close::before,
  .modal-close::after {
    width: 19px;
    height: 3px;
    border-radius: 2px;
  }
  .modal-title {
    margin-bottom: 33px;
    font-size: 30px;
    line-height: 30px;
  }

  .modal-text {
    font-size: 23px;
    line-height: 29.9px;
    padding: 0 45px 0 75px;
    margin-bottom: 45px;
  }

  .modal-list {
    padding-left: 69px;
    padding-right: 60px;
    margin-bottom: 60px;
  }

  .modal-list li {
    margin-bottom: 30px;
  }

  .modal-list .modal-item-mobile {
    display: none;
  }

  .modal-list .modal-item-desktop {
    display: list-item;
  }

  .modal-list li span {
    font-size: 23px;
    line-height: 29.9px;
  }
}

.modal-show {
  display: block;
}
